* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    overflow: hidden;
}

canvas {
    border: 2px solid #ffffff;
    background: linear-gradient(to bottom, #1e1e1e, #4a4a4a); /* Gradiente vertical */
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
    background-color: #ff4757;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #e84118;
}
